#contact a {
  width: fit-content;
  padding: 1rem 0 2rem 0;
}

#contact {
  padding-top: 3rem;
}

.contact-text {
  margin: auto 5rem auto 5rem;
  font-size: 1.35rem;
}

.mail-img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 25vw;
  height: fit-content;
  margin-left: 2rem;
  border-radius: 5%;
  border: 1px solid #db350b;
  padding: 1.5rem 0 1.5rem 0;
  box-shadow: 0 0 10px 5px #db0b0b, inset 0 0 4px 2px #db0b0b;
}

.contact-button {
  text-align: center;
  margin-top: 2rem;
  width: fit-content;
}
.contact-button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #1b73f8;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}



.contact-button:hover {
    color: #ffffff;
    background: #314ce9;
    box-shadow: 0 0 10px #314ce9, 0 0 40px #314ce9, 0 0 80px #314ce9;
    transition-delay: 0.5s;
}


.contact-button span {
    position: absolute;
    display: block;
}




.contact-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #314ce9);
}



.contact-button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}


.contact-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #314ce9);
}

.contact-button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}



.contact-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #314ce9);
}

.contact-button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}



.contact-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #314ce9);
}

.contact-button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.contact-text{
    font-family: 'Lato', sans-serif;
}

.mail-img{
    color: #d62433;
    margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 20vw;
  height: fit-content;
  margin-left: 2rem;
  border-radius: 16px;
  border: 1px solid #f01313;
   padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}